
@{
    ViewBag.Title = "EmployeeModule";
}

<h2>EmployeeModule</h2>

<div>
    <p>  @Html.ActionLink("List Employees", "ListEmployees") </p>
</div>
<div>
    <p>   @Html.ActionLink("Add New  Employee", "AddEmployee") </p>
</div>

<div>
   <p> @Html.ActionLink("Search Employee", "SearchEmployee") </p>
</div>

<div>
    <p>  @Html.ActionLink("Back", "LoggedIn") </p>
</div>


