
@{
    ViewBag.Title = "MealModule";
}

<h2>MealModule</h2>

<div>
    <p> @Html.ActionLink("List Meals", "ListMeal") </p>
</div>
<div>
    <p>  @Html.ActionLink("Add New Meal", "AddMeals") </p>
</div>

<div>
    <p>  @Html.ActionLink("Search Meals", "SearchMeal") </p>
</div>

<div>
    <p>   @Html.ActionLink("Back", "LoggedIn") </p>
</div>