@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  
        <div class="jumbotron">
            <h1>Restaurant Management</h1>
            <p class="lead">Restaurant management system designed for the food service industry, it can be used in any restaurant to help them run the restaurant business systemically.</p>
            
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    The Restaurant Management System helps the restaurant manager to manage the restaurant more effectively and efficiently by computerizing meal ordering and billing. and generally run everyday processes more efficiently.
                </p>
                
            </div>
            
        </div>
